@import "../../node_modules/@fontsource/vazirmatn/index.css";
@import "../../node_modules/@fontsource/vazirmatn/100.css";
@import "../../node_modules/@fontsource/vazirmatn/200.css";
@import "../../node_modules/@fontsource/vazirmatn/300.css";
@import "../../node_modules/@fontsource/vazirmatn/500.css";
@import "../../node_modules/@fontsource/vazirmatn/600.css";
@import "../../node_modules/@fontsource/vazirmatn/700.css";
@import "../../node_modules/@fontsource/vazirmatn/800.css";
@import "../../node_modules/@fontsource/vazirmatn/900.css";